<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact Ferdynand</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" type="image/png" href="favicon.png">
</head>
<body class="bg-gray-900 text-white">
    <div id="cursor"></div>
    <!-- Header -->
    <header class="p-5 bg-gray-800">
        <div class="flex justify-between items-center">
            <a href="index.html" class="logo">
                <img src="/static/images/letter-f.png" alt="Ferdynand Logo" class="logo-img">
            </a>
             <!-- Vertical Buttons -->
    <div class="vertical-buttons">
        <a href="about.html" class="btn btn--stroke">About</a>
        <a href="expertise.html" class="btn btn--stroke">Expertise</a>
        <a href="experience.html" class="btn btn--stroke">Experience</a>
        <a href="project.html" class="btn btn--stroke">Projects</a>
        <a href="blog.html" class="btn btn--stroke">Blog</a>
    </div>
        </div>
    </header>
    <div class="action-buttons">
        <a href="https://drive.google.com/uc?export=download&id=YOUR_FILE_ID" class="btn btn--secondary" target="_blank">Download CV</a>
    </div>

    <!-- Contact Section -->
    <section id="contact" class="contact-form-section">
        <h2>Get in Touch</h2>
        <p>Feel free to reach out for collaborations, inquiries, or just to connect.</p>
        <form action="/contact" method="POST">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>
    
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
    
            <label for="message">Message</label>
            <textarea id="message" name="message" rows="5" required></textarea>
    
            <button type="submit">Send Message</button>
        </form>
    </section>
    
    
    
    <!-- Footer -->
    <footer class="bg-gray-800 text-center p-5">
        &copy; 2024 Ferdynand. All rights reserved.
    </footer>
    <script src="/static/js/main.js"></script>
</body>
</html>
