<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ferdynand's Expertise</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" type="image/png" href="favicon.png">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="logo">
            <a href="index.html" class="logo"></a>
            <img src="/static/images/letter-f.png" alt="Ferdynand Logo" class="logo-img">
        </div>
        <!-- Vertical Buttons -->
        <div class="vertical-buttons">
            <a href="about.html" class="btn">About</a>
            <a href="skills.html" class="btn">Skills</a>
            <a href="blog.html" class="btn">Blog</a>
            <a href="contact.html" class="btn">Contact</a>
        </div>
    </header>

    <!-- Expertise Section -->
    <main id="content" class="p-10">
        <section id="expertise">
            <h2 class="text-2xl">My Experience</h2>

            <!-- Timeline -->
            <div class="timeline">
                <div class="timeline-item">
                    <h3>Apprentice Software Developer</h3>
                    <p>Zone01 Kisumu (Apr 2024 - Present)</p>
                    <p>Collaborating on software development projects, learning backend technologies, and contributing to full-stack solutions.</p>
                </div>

            </div>

            <a href="contact.html" class="btn">Contact Me</a>
        </section>
    </main>

    <!-- Footer -->
    <footer class="footer">
        &copy; 2024 Ferdynand. All rights reserved.
    </footer>
</body>
</html>
