<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ferdynand</title>
    <link rel="stylesheet" href="/static/css/styles.css"> <!-- External CSS -->
    <link rel="icon" type="image/png" href="favicon.png">
</head>
<body>
    <header>
        <div class="home-button">
            <a href="index.html" class="logo">
                <img src="/static/images/letter-f.png" alt="Ferdynand Logo" class="logo-img">
            </a>
        </div>
    </header>

    <!-- Main Content -->
    <main>
        <div class="circle-container">
            <img src="/static/images/1722517194869.jpeg" alt="Hero Image">
        </div>
        <div class="intro-text">
            <h1>Hi, I'm Ferdynand Odhiambo</h1>
            <h4></>Full Stack Software Developer</></h4>
            <p>I create software solutions to solve your problems in an unimaginable way.</p>
        </div>
    </main>

    <!-- Vertical Buttons -->
    <div class="vertical-buttons">
        <a href="about.html" class="btn btn--stroke">About</a>
        <a href="skills.html" class="btn btn--stroke">Skills</a>
        <a href="experience.html" class="btn btn--stroke">Experience</a>
        <a href="blog.html" class="btn btn--stroke">Blog</a>
        <a href="contact.html" class="btn btn--stroke">Contact</a>
    </div>

    <!-- Footer -->
    <footer>
        &copy; 2024 Ferdynand. All rights reserved.
    </footer>

    <div id="cursor"></div> <!-- Custom cursor element -->
    <script src="/static/js/main.js"></script>
</body>
</html>
