<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ferdynand's Expertise</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" type="image/png" href="favicon.png">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="logo">
            <a href="index.html" class="logo"></a>
            <img src="/static/images/letter-f.png" alt="Ferdynand Logo" class="logo-img">
        </div>
        <!-- Vertical Buttons -->
        <div class="vertical-buttons">
            <a href="about.html" class="btn">About</a>
            <a href="skills.html" class="btn">Skills</a>
            <a href="experience.html" class="btn">Experience</a>
            <a href="blog.html" class="btn">Blog</a>
            <a href="contact.html" class="btn">Contact</a>
        </div>
    </header>
    <div class="action-buttons">
        <a href="https://drive.google.com/file/d/1ifwcfctVqmddzSXfSWaJF2nPclFp6Y9C/view?usp=drive_link" class="btn btn--secondary" target="_blank">Download CV</a>
    </div>

    <!-- Expertise Section -->
    <main id="content" class="p-10">
        <section id="expertise">
            <h2 class="text-2xl">My Projects</h2>

            <!-- Timeline -->
            <div class="timeline">
                <div class="timeline-item" data-side="left">
                    <h3>AI Chat</h3>
                    <p>This is a clone of ChatGPT using Python and Groq LLM API for fetching the data.</p>
                    <a href="https://github.com/MeFerdi/AI_Intern_project.git" target="_blank" class="project-card">
                        <div class="card-body">
                            <h4>View Project</h4>
                        </div>
                    </a>
                    <div class="tech-buttons">
                        <button class="tech-btn">Python</button>
                        <button class="tech-btn">Groq LLM</button>
                    </div>
                </div>
                
                <div class="timeline-item" data-side="right">
                    <h3>Groupie Tracker</h3>
                    <p>A web based application listing artists with their bands using the served API Data</p>
                    <a href="https://github.com/MeFerdi/groupie-tracker.git" target="_blank" class="project-card">
                        <div class="card-body">
                            <h4>View Project</h4>
                        </div>
                    </a>
                    <div class="tech-buttons">
                        <button class="tech-btn">HTML&CSS</button>
                        <button class="tech-btn">Go</button>
                        <button class="tech-btn">JavaScript</button>
                        <button class="tech-btn">API</button>
                    </div>
                </div>
            
                <div class="timeline-item" data-side="left">
                    <h3>PointaFam</h3>
                    <p>A web based marketplace connecting farmers with local retailers in need of these products.</p>
                    <a href="https://meferdi.github.io" target="_blank" class="project-card">
                        <div class="card-body">
                            <h4>View Project</h4>
                        </div>
                    </a>
                    <div class="tech-buttons">
                        <button class="tech-btn">HTML</button>
                        <button class="tech-btn">CSS</button>
                        <button class="tech-btn">JavaScript</button>
                        <button class="tech-btn">Go</button>
                    </div>
                </div>
            </div>            

            <a href="contact.html" class="btn contact-btn">Contact Me</a>
        </section>
    </main>

    <!-- Footer -->
    <footer class="footer">
        &copy; 2024 Ferdynand. All rights reserved.
    </footer>
</body>
</html>
